{% extends "base.html" %}

{% block title %}Add Reminder{% endblock %}

{% block content %}

<a href="/reminder" class="corner-back-btn">← Back to Reminders</a>


<div class="container mt-5">
    <h2>Edit a Reminder</h2>
    <form action="/reminder/edit/{{data.reminder_id}}" method="POST">
        <div class="mb-3">
            <label for="reminder_type" class="form-label">Reminder Type:</label>
            <input type="text" class="form-control" id="reminder_type" value="{{data.reminder_type}}" name="reminder_type" required>
        </div>

        <div class="mb-3">
            <label for="alarm_date" class="form-label">Alarm Date/Time:</label>
            <input type="datetime-local" class="form-control" id="alarm_date" value="{{data.alarm_date}}" name="alarm_date" required>
        </div>

        <div class="mb-3">
            <label for="recurrence" class="form-label">Recurrence (days):</label>
            <input type="number" class="form-control" id="recurrence" name="recurrence" value="{{data.recurrence}}"  value="1.0" required>
        </div>

        <div class="mb-3">
            <label for="product_id" class="form-label">Product (optional):</label>
            <select class="form-select" id="product_id" name="product_id">
                <!-- <option value="{{data.product_id}}">{{data.product_name }}</option> -->
                 <option>-- None --</option>
                {% for product in products %}
                <option value="{{ product.product_id }}" {% if product.product_id == data.product_id %}selected{% endif %}>
                    {{ product.product_name }}
                </option>
                {% endfor %}
            </select>
        </div>

        <div class="mb-3">
            <label for="notes" class="form-label">Additional Note:</label>
            <input type="text" class="form-control" id="notes" value="{{data.reminder_note}}" name="notes">
        </div>

        <div></div>

        <button type="submit" class="btn btn-success">Save Reminder</button>
        <a href="/reminder" class="btn btn-secondary">Cancel</a>
    </form>
</div>
{% endblock %}