<div class="upcoming">
    
    {% if upcoming %}
    <div>
        🔔 Next Reminder:
        <strong>{{ upcoming.reminder_type }}</strong>
        {% if upcoming.product_name %} for <strong>{{ upcoming.product_name }}</strong>{% endif %}
        at 
        <strong>{{ upcoming.alarm_date }}</strong>
        &nbsp;&nbsp;
        <a href="reminder/update/{{ upcoming.reminder_id }}" title="Click on the check if you have completed this reminder">✅</a>
    </div>
    {% else %}
        No upcoming reminders loaded
    {% endif %}
</div>

<style>

.upcoming {
    background-color:white;
    border: solid red;
    padding: 5px;
}

</style>