{% extends "base.html" %}

{% block content %}
<!-- Back to Home Floating Button -->
<a href="/homepage" class="corner-back-btn">← Back to Home</a>

<!-- Page Title -->
<div style="text-align: center;">
<h1 class="page-title">🧴 All Products</h1><br>
<div class="product-scroll-wrapper">
<div class="product-grid">
    {% for product in products_list %}
    <div class="product-card">
      <h3>{{ product.product_name }}</h3>
      <h3>{{ product.amazon_link}}</h3>
      <h3>{{ product.ingredients }}</h3>
    </div>
    {% endfor %}

</div>
</div>

{% endblock %}
